@using RealityEstate.Models.Rights;

@model User;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="EditUser"> 
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>

     <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    
    <div>
        <label asp-for="Tel"></label>
        <input asp-for="Tel"/>
    </div>
    
    <div>
        <label asp-for="LoginName"></label>
        <input asp-for="LoginName" />
    </div>
    
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
    </div>

    <div>
        <button type="submit" class="btn btn-info">Ok</button>
        <button class="btn btn-danger">
           <a asp-controller="Admin" asp-action="Users">
                 Cancel
           </a>
        </button>
    </div>
</form>
