
table {
    /*overflow-x: scroll;*/
    width: 100%;
    border-collapse: collapse;
}

    table td, table th {
        text-align: center; 
        vertical-align: middle; 
        padding: 10px; 
        border: 1px solid #ccc !important; 
    }

#rounded-circle {
    max-width: 100px !important;
    height: 100px;
    min-height: 100px !important;
    max-height: 100px !important;
    border-radius: 50%;
    overflow: hidden;
}


form > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    /*Tohle nefunguje idk whyyy*/
}


.forms > div{
    display: block;
    
}

/*neosos*/
.forms {
    max-width: 600px;
    margin: 0 auto;
}

    .forms label {
        display: block;
        margin-bottom: 5px;
    }

    .forms input,
    .forms textarea,
    .forms select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .forms textarea {
        resize: vertical;
    }

    .forms .formfile {
        display: block;
        margin-top: 5px;
    }

    .forms button {
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
    }

    .forms .btn-info {
        background-color: #5bc0de;
        color: #fff;
        border: 1px solid #46b8da;
    }

    .forms .btn-success {
        background-color: #5cb85c;
        color: #fff;
        border: 1px solid #4cae4c;
    }

    .forms .btn-danger {
        background-color: #d9534f;
        color: #fff;
        border: 1px solid #d43f3a;
    }