@using RealityEstate.Models.Entities;
@model Filter;

<div class="content">

    <div class="filters">
        <form asp-action="Index">
            <div class="search-input">
                <input type="text" asp-for="Region" placeholder="Vyhledávání podle města...">
            </div>

            <div>
                <label asp-for="MinPrice"></label>
                <input  asp-for="MinPrice">
            </div>

            <div>
                  <label asp-for="MaxPrice"></label>
                  @*<input type="range" asp-for="MaxPrice" min="0" max="@Model.MaxPriceSet"/>*@
                  <input asp-for="MaxPrice" />
            </div>

            <div>
                <label>Počet pokojů</label>
                <input asp-for="RoomCount" /> 
            </div>

            <div>
                <label>Počet koupelen</label>
                <input asp-for="BathCount"+/> 
            </div>
           
            <div>
                 <label asp-for="Size"></label>
                  <input asp-for="Size" /> 
            </div>   

            <div>
                 <button class="search-button" type="submit">HLEDAT</button>
            </div>
        </form>
    </div>

    <div class="offer">

        @for (int i = 0; i < @ViewBag.ShowedOffers.Count; i++)
        {
            <vc:offer-component offer="@ViewBag.ShowedOffers[i]"></vc:offer-component>
        }

        @if(ViewBag.ShowedOffers.Count == 0)
        {
           <div class="alert alert-danger" role="alert">
                Podle vašeho filtru nebyla nalezena žádná nabídka.
           </div>
        }
    </div>
</div>
